<mat-toolbar color="primary">
    <span>Contact Management</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" class="mr-2" (click)="openLogin()">Login</button>
    <button mat-raised-button color="warn" (click)="openRegister()">Register</button>
  </mat-toolbar>

  <div class="container">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, soluta ea esse delectus, illum expedita quibusdam id, autem tenetur placeat nostrum vel molestiae culpa officiis voluptates perspiciatis omnis optio. Vero!
  </div>